[SddmGreeterTheme]
Name=Galaxy
Name[ar]=Galaxy
Name[ast]=Galaxy
Name[az]=Galaxy
Name[bg]=Galaxy
Name[bs]=Galaxy
Name[ca]=Galaxy
Name[ca@valencia]=Galaxy
Name[cs]=Galaxy
Name[da]=Galaxy
Name[de]=Galaxy
Name[el]=Galaxy
Name[en_GB]=Galaxy
Name[es]=Galaxy
Name[et]=Galaxy
Name[eu]=Galaxy
Name[fi]=Galaxy
Name[fr]=Galaxy
Name[gl]=Galaxy
Name[hi]=Galaxy
Name[hu]=Galaxy
Name[ia]=Galaxy
Name[id]=Galaxy
Name[is]=Galaxy
Name[it]=Galaxy
Name[ja]=Galaxy
Name[ko]=Galaxy
Name[lt]=Galaxy
Name[ml]=Galaxy
Name[nb]=Galaxy
Name[nds]=Galaxy
Name[nl]=Galaxy
Name[nn]=Galaxy
Name[pa]=Galaxy
Name[pl]=Galaxy
Name[pt]=Galaxy
Name[pt_BR]=Galaxy
Name[ro]=Galaxy
Name[ru]=Galaxy
Name[sk]=Galaxy
Name[sl]=Galaxy
Name[sr]=Galaxy
Name[sr@ijekavian]=Galaxy
Name[sr@ijekavianlatin]=Galaxy
Name[sr@latin]=Galaxy
Name[sv]=Galaxy
Name[tg]=Galaxy
Name[tr]=Galaxy
Name[uk]=Galaxy
Name[vi]=Galaxy
Name[x-test]=xxGalaxyxx
Name[zh_CN]=Galaxy
Name[zh_TW]=Galaxy
Description=Galaxy
Description[ar]=Galaxyز
Description[ast]=Galaxy
Description[az]=Galaxy
Description[bg]=Galaxy
Description[ca]=Galaxy
Description[ca@valencia]=Galaxy
Description[cs]=Galaxy
Description[da]=Galaxy
Description[de]=Galaxy
Description[en_GB]=Galaxy
Description[es]=Galaxy
Description[et]=Galaxy
Description[eu]=Galaxy
Description[fi]=Galaxy
Description[fr]=Galaxy
Description[gl]=Galaxy
Description[hi]=Galaxy
Description[hu]=Galaxy
Description[ia]=Galaxy
Description[id]=Galaxy
Description[it]=Galaxy
Description[ja]=Galaxy
Description[ko]=Galaxy
Description[lt]=Galaxy
Description[ml]=Galaxy
Description[nl]=Galaxy
Description[nn]=Galaxy
Description[pa]=Galaxy
Description[pl]=Galaxy
Description[pt]=Galaxy
Description[pt_BR]=Galaxy
Description[ro]=Galaxy
Description[ru]=Galaxy
Description[sk]=Galaxy
Description[sl]=Galaxy
Description[sv]=Galaxy
Description[tg]=Galaxy
Description[tr]=Galaxy
Description[uk]=Galaxy
Description[vi]=Galaxy
Description[x-test]=xxGalaxyxx
Description[zh_CN]=Galaxy
Description[zh_TW]=Galaxy
Author=Serenity Cyber Security
Copyright=(c) 2023, Serenity Cyber Security
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=preview-gos.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=svtala10@mts.ru
Theme-Id=galaxy
Theme-API=2.0
